<main>
  <h2>List of Users</h2>

  <section class="media-table">
    <table class="table">
      <thead>
        <tr>
          <th>Username</th>
          <th>Votes</th>
          <th>Joined</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= link_to user.username, user_path(user.id)%></td>
            <td><%= user.votes.count %></td>
            <td><%= user.created_at.strftime('%B %d, %Y')%></td>
          </tr>
        <%end%>
      </tbody>
    </table>
  </section>
</main>
<%= link_to 'Back to Media List', root_path, class:"btn btn-primary" %>