/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

/* Custom bootstrap variables must be set or imported *before* bootstrap. */
@import "bootstrap";

@import "**/*";

body {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

body, h1, h2, h3, h4, h5 {
  font-family: "Gudea", sans-serif;
}

main {
  padding: 2rem;
}


h1, h2, h3, h4 {
  font-weight: bold;
}

.top-ten__header {
  color: #26A69A;
  border-bottom: 2px solid #B2DFDB;
  margin: 5px;
}

.spotlight__header--prefix {
  color: #424242;
}

a, h3 {
  color: #26A69A;
}

a:hover{
  color: rgb(25, 112, 103)
}


.btn:hover {
  background-color: rgb(25, 112, 103);
  border-color: rgb(25, 112, 103);
}

ul {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

li {
  display: list-item;
  // text-align: -webkit-match-parent;
}

.btn-primary {
  background-color: #26A69A;
  color: white;
  border-color: #26A69A;
}

.alert__container {
  margin: 2rem 0 1rem 0;
}

.app-header__header {
  max-width: 100%;
  background-color: #B2DFDB;
  margin-bottom: 0.5rem;
  padding: 2rem 1rem 0.5rem 1rem;
}

.app-header__header h1 {
  text-align: center;
  margin: 25px auto 40px auto;
}

.app-header__header h1 a {
  color: #FF5722;
  padding-right: 25px;
  margin-right: 15px;
  border-right: white 2px solid;
}

.app-header__header h1 small {
  color: white;
}

.app-header__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.app-header__user-nav-container .nav-item {
  margin-left: 2rem;
}

.app-header__nav_item {
  margin-top: 1rem;
  color: rgb(25, 112, 103);
}

.app-header__site-nav-container .app-header__nav_item {
  margin-right: 2rem;
}

.app-header__nav_item .nav-link {
  color: #00796B;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
}

button a {
  color: white;
}

.flash-msg__section{
  background-color: #FFF3CD;
  color: #856404;
}

