/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*/

/* Custom bootstrap variables must be set or imported *before* bootstrap. */
@import "bootstrap";

@import "**/*";

body {
margin: 0;
font-size: 1rem;
font-weight: 400;
line-height: 1.5;
color: #212529;
text-align: left;
background-color: #fff;
}

body, h1, h2, h3, h4, h5 {
font-family: "Gudea", sans-serif;
}

main {
padding: 2rem;
}


h1, h2, h3, h4 {
font-weight: bold;
}

.top-ten__header {
color: #26A69A;
border-bottom: 2px solid #B2DFDB;
margin: 5px;
}

.spotlight__header--prefix {
color: #424242;
}

a, h3 {
color: #26A69A;
}

a:hover{
color: rgb(25, 112, 103)
}


.btn:hover {
background-color: rgb(25, 112, 103);
border-color: rgb(25, 112, 103);
}

ul {
margin-block-start: 1em;
margin-block-end: 1em;
margin-inline-start: 0px;
margin-inline-end: 0px;
padding-inline-start: 40px;
}

li {
display: list-item;
// text-align: -webkit-match-parent;
}

.btn-primary {
background-color: #26A69A;
color: white;
border-color: #26A69A;
}

.alert__container {
margin: 2rem 0 1rem 0;
}

.app-header__header {
max-width: 100%;
background-color: #B2DFDB;
margin-bottom: 0.5rem;
padding: 2rem 1rem 0.5rem 1rem;
}

.app-header__header h1 {
text-align: center;
margin: 25px auto 40px auto;
}

.app-header__header h1 a {
color: #FF5722;
padding-right: 25px;
margin-right: 15px;
border-right: white 2px solid;
}

.app-header__header h1 small {
color: white;
}

.app-header__nav {
display: flex;
flex-direction: row;
justify-content: space-between;
}

.nav {
display: flex;
flex-wrap: wrap;
padding-left: 0;
margin-bottom: 0;
list-style: none;
}

.app-header__user-nav-container .nav-item {
margin-left: 2rem;
}

.app-header__nav_item {
margin-top: 1rem;
color: rgb(25, 112, 103);
}

.app-header__site-nav-container .app-header__nav_item {
margin-right: 2rem;
}

.app-header__nav_item .nav-link {
color: #00796B;
}

.nav-link {
display: block;
padding: 0.5rem 1rem;
}

button a {
color: white;
}

.flash-msg__section{
background-color: #FFF3CD;
color: #856404;
}

// ------
.top-ten__container {
display: grid; 
grid-template-columns: 1fr 1fr 1fr;
grid-column-gap: 2em;
}
.app-header__header {
  max-width: 100%;
  background-color: #B2DFDB;
  margin-bottom: 0.5rem;
  padding: 2rem 1rem 0.5rem 1rem;
}
.app-header__header h1 a {
  color: #FF5722;
  padding-right: 25px;
  margin-right: 15px;
  border-right: white 2px solid;
}
small, .small {
  font-size: 80%;
  font-weight: 400;
}
.app-header__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
*, *::before, *::after {
  box-sizing: border-box;
}
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
body, h1, h2, h3, h4, h5 {
  font-family: "Gudea", sans-serif;
}
h2, .h2 {
  font-size: 2rem
}
li {
  display: list-item;
  text-align: -webkit-match-parent;
}
.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.app-header__site-nav-container .app-header__nav_item {
  margin-right: 2rem;
}
.app-header__user-nav-container .nav-item {
  margin-left: 2rem;
}
.app-header__nav_item .nav-link {
  color: #00796B;
}
.app-header__nav_item {
  margin-top: 1rem;
}
.nav-link {
  display: block;
  padding: 0.5rem 1rem;
}
.btn-primary {
  background-color: #26A69A;
  color: white;
  border-color: #26A69A;
}
.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
small, .small {
  font-size: 80%;
  font-weight: 400;
}
.app-header__header h1 small {
  color: white;
}
// spotlight
.spotlight {
  padding: 0 2rem 2rem 2rem;
}
.spotlight__header {
  color: #26A69A;
}

.spotlight__description {
  margin-bottom: 0;
}
.root__hr {
  margin: 0px auto 3rem auto;
  color: #EEEEEE;
}
.top-ten__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 2em;
  margin: 2em;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}
.top-ten__header {
  color: #26A69A;
  border-bottom: 2px solid;
  border-bottom-color: #B2DFDB;
}
.top-ten__list {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}
.list-group {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
}
.spotlight__description {
  margin-bottom: 0;
}
.spotlight__header {
  color: #26A69A;
}

.spotlight__header--prefix {
  color: #424242;
  font-weight: bold;
}

.root__hr {
  margin: 0px auto 3rem auto;
  color: #EEEEEE;
}
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0,0,0,0.1);
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
.list-group {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
}
.list-group-item {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  margin-bottom: -1px;
  background-color: #fff;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
