// Place all the styles related to the Homepages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.spotlight__header {
  color: #26A69A;
  
}

.spotlight__header a:hover {
  color:  rgb(25, 112, 103);
}
​
.spotlight {
  padding: 0 2rem 2rem 2rem;
}
​
.spotlight__header--prefix::after {
  content: ":";
}
​
.root__hr {
  margin: 0px auto 3rem auto;
  color: #EEEEEE;
}
​
.top-ten__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 2em;
}

​
.top-ten__list {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}
​
.list-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}
​
.list-group-item {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  margin-bottom: -1px;
  background-color: #fff;
}
​
.top-ten__creator {
  color: slategrey;
}

.top-ten__container{
  display: flex;
}
